<launch>
  <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />

  <!-- Run a VoxelGrid filter to clean NaNs and downsample the data -->
  <node pkg="nodelet" type="nodelet" name="voxel_grid" args="load pcl/VoxelGrid pcl_manager" output="screen">
    <remap from="~input" to="/camera_PC_transposed" />
    <rosparam>
      filter_field_name: z <!-- Axis/direction of filtering-->
      filter_limit_min: 0.0037 <!-- Filter out top of workbench -->
      filter_limit_max: 0.50
      filter_limit_negative: False
      leaf_size: 0.0005 <!-- Grid size in meters-->
    </rosparam>
  </node>
</launch>